@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans:400,700|Material+Icons');

html {
  background-color: #F5F5F5;
}

h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 50px;
  text-shadow: 0px 1px 1px rgba(214, 184, 0, 1);
  margin-top: 20px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h4 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  color: #607D8B;
  margin: auto;
}

.footer {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #607D8B;
}

.topText {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  color: #FFC107;
  margin: auto;
  line-height: 1.2;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #FDD835;
  text-shadow: 0px 0.5px 0.5px rgba(214, 214, 0, 1);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  }

li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.key {
  width: 100px;
  height: 100px;
  background-color: #FFEE58;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #FFA726;
  box-shadow: 0 0 1rem #FFCA28;
  text-transform: scale(1.1);
}
